package pages

import (
	"github.com/ansufw/gomono/views/templ/layouts"
)

templ Home() {

	
	@layouts.Base("home") {
		
		<div class="flex justify-center items-center h-screen bg-[#F3E5F5]">
			<h1>Home</h1>
		</div>

		
	}
}