package components

templ Button(text string) {
	<button class="py-3 px-6 
    border border-transparent 
    text-base font-bold 
    rounded-md text-white 
    bg-[#84BD00] hover:bg-[#76a800] 
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#84BD00] 
    transition duration-150 ease-in-out"
    >
    { text }
    </button>
}