definitions:
  dto.Role:
    properties:
      description:
        type: string
      id:
        type: integer
      name:
        type: string
    type: object
  dto.UserListResponse:
    properties:
      total:
        type: integer
      users:
        items:
          $ref: '#/definitions/dto.UserResponse'
        type: array
    type: object
  dto.UserResponse:
    properties:
      created_at:
        type: string
      email:
        type: string
      first_name:
        type: string
      id:
        type: string
      last_name:
        type: string
      roles:
        items:
          $ref: '#/definitions/dto.Role'
        type: array
    type: object
  pkg.Payload:
    properties:
      error:
        type: boolean
      message: {}
    type: object
info:
  contact: {}
paths:
  /api/users:
    get:
      consumes:
      - application/json
      description: Get a list of users with pagination
      parameters:
      - description: MyHeader must be set for valid response
        in: header
        name: X-MyHeader
        required: true
        type: string
      - description: 'API version eg.: 1.0'
        in: header
        name: X-API-VERSION
        required: true
        type: string
      - description: Limit the number of users returned
        in: query
        name: limit
        type: integer
      - description: Offset for pagination
        in: query
        name: offset
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/pkg.Payload'
            - properties:
                message:
                  $ref: '#/definitions/dto.UserListResponse'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/pkg.Payload'
      summary: List users
      tags:
      - users
swagger: "2.0"
